<!DOCTYPE html>
<html>
    <header>
       <meta charset="utf-8"> 
       <title>Some web Page</title>
    </header>
    <body>
           {{> header}}

            <h2>{{screamIT welcomeMessage}}</h2>




      {{> footer}}
    </body>
</html>